---
import Card from "../../common/card/contest/Card.astro";
import Heading from "../../common/Heading.astro";

const { t } = Astro.props;
const contestData = t.contest.contest;
---

<section id="contest" class="mx-auto flex w-full max-w-7xl flex-col gap-4 py-16">
  <Heading t={t?.contest?.title} class="pt-16" />
  <div class="flex flex-col gap-4 px-4">
    {
      contestData.map((c: any, index: number) => (
        <Card
          t={{
            title: c.title,
            description: c.description,
            points: c.points,
            image: c.image,
            location: c.location,
            alt: c.title,
            href: c.href,
          }}
          data-delay={index + 1}
        />
      ))
    }
  </div>
</section>
