---
import { Image } from "astro:assets";
import OPH_Logo from "../../../assets/logo/oph2025.webp";
const { ...attrs } = Astro.props;
---

<style>
  #oph-logo {
    animation: pulse 3s linear infinite;
    will-change: transform;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    #oph-logo {
      animation: none;
    }
  }
</style>

<div class="flex flex-col items-center" {...attrs}>
  <Image
    id="oph-logo"
    src={OPH_Logo}
    alt="KMUTT Engineering Open House 2025 Logo"
    class="aspect-square max-h-[56vh] w-auto select-none sm:max-h-[400px]"
    width={400}
    height={400}
    sizes="(max-width:640px) 70vw, (max-width:1024px) 400px, 400px"
    format="webp"
    loading="eager"
    decoding="async"
  />
</div>
