---
import { Image } from "astro:assets";
import OPH_Logo from "../../../assets/logo/oph2025.webp";

const { ...attrs } = Astro.props;
---

<div class="flex items-center" {...attrs}>
  <Image
    src={OPH_Logo}
    alt="KMUTT Engineering Open House 2025 Logo"
    class="image-crisp block select-none"
    width={48}
    height={48}
    sizes="48px"
    widths={[48, 96]}
    format="webp"
    quality={100}
    loading="eager"
    decoding="sync"
    fetchpriority="high"
    style="width: 48px; height: 48px;"
  />
</div>
