---
const { t } = Astro.props;
---

<div class="mx-4 rounded-2xl bg-gradient-to-r from-primary to-primary-hover px-8 py-6">
  <h2 class="scroll-animate animate-fade-up text-center font-prompt text-3xl font-[800] text-white">
    {t}
  </h2>
</div>;
