---
import "../styles/global.css";
const { title = "KMUTT Engineering Open House 2025" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg" href="../../favicon.svg">
    <title>{title}</title>
  </head>
  <body class="antialiased">
    <main class="flex justify-center">
  		<slot />
	</main>
  </body>
</html>
